@font-face {
    font-family: "ggsans-normal";
    src: url(ggsans-Normal.ttf);
}

:root {
    --colorBackgroundPrimary: #191919;
    --colorBackgroundSecondary: #232323;
    --colorText: #adadb1;
    --colorTextTheme: #e7cfff;
}

body {
    font-family: ggsans-normal;
    background-color: var(--colorBackgroundSecondary);
    color: var(--colorText);
}

a {
    text-decoration: none;
    color: #79b148;
}

a:hover {
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
    color: #bbdf76;
}

footer {
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    opacity: 20%;
    position: fixed;
    bottom: 1pt;
}